---
http_interactions:
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757440924,"namespace":"backend","error":{"name":"StandardError","message":"Test
        error from Lapsoss","backtrace":["/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr/util/variable_args_block_caller.rb:9:in
        ''VCR::VariableArgsBlockCaller#call_block''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr.rb:194:in
        ''VCR#use_cassette''","test/appsignal_adapter_test.rb:12:in ''block in \u003cclass:AppsignalAdapterTest\u003e''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:94:in
        ''block (2 levels) in Minitest::Test#run''","/path/to/ruby/lib/ruby/[...]
[...]
