---
http_interactions:
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757430118,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-09-09T15:01:58.782Z"},{"message":"API
        request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-09-09T15:01:58.782Z"},{"message":"API
        request failed","type":"error","metadata":{"status":500},"timestamp":"2025-09-09T15:01:58.782Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Sep 2025 15:01:59 GMT
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757430159,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-09-09T15:02:39.997Z"},{"message":"API
        request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-09-09T15:02:39.997Z"},{"message":"API
        request failed","type":"error","metadata":{"status":500},"timestamp":"2025-09-09T15:02:39.997Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Sep 2025 15:02:40 GMT
recorded_with: VCR 6.3.1
