---
http_interactions:
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757440924,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-09-09T18:02:04.562Z"},{"message":"API
        request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-09-09T18:02:04.562Z"},{"message":"API
        request failed","type":"error","metadata":{"status":500},"timestamp":"2025-09-09T18:02:04.562Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Sep 2025 18:02:04 GMT
[...]
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757675283,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-09-12T11:08:03.048Z"},{"message":"API
        request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-09-12T11:08:03.049Z"},{"message":"API
        request failed","type":"error","metadata":{"status":500},"timestamp":"2025-09-12T11:08:03.049Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 Sep 2025 11:08:03 GMT
recorded_with: VCR 6.3.1
