---
http_interactions:
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1751846992,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Jul 2025 00:09:53 GMT
[...]
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1752074766,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-07-09
        15:26:04 UTC"},{"message":"API request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-07-09
        15:26:04 UTC"},{"message":"API request failed","type":"error","metadata":{"status":500},"timestamp":"2025-07-09
        15:26:04 UTC"},{"message":"User clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-07-09
        15:26:06 UTC"},{"message":"API request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-07-09
        15:26:06 UTC"},{"message":"API request failed","type":"error","metadata":{"status":500},"timestamp":"2025-07-09
        15:26:06 UTC"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Jul 2025 15:26:06 GMT
[...]
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"action":"log_message","path":"/","exception":{"name":"LogMessage","message":"Critical
        error from Lapsoss","backtrace":[]},"tags":{"source":"test"},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Jul 2025 17:41:01 GMT
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1752428831,"namespace":"backend","error":{"name":"StandardError","message":"Test
        error from Lapsoss","backtrace":["/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr/util/variable_args_block_caller.rb:9:in
        ''VCR::VariableArgsBlockCaller#call_block''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr.rb:194:in
        ''VCR#use_cassette''","/path/to/project/lapsoss/test/appsignal_adapter_test.rb:12:in
        ''block in <class:AppsignalAdapterTest>''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:94:in
        ''block (2 levels) in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:190:in
        ''Minitest::Test#capture_exceptions''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:89:in
        ''block in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb:368:in
        ''Minitest::Runnabl[...]
- request:
    method: post
    uri: https://EXAMPLE_ORG_ID.ingest.us.sentry.io/api/EXAMPLE_PROJECT_ID/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"327d80bb-f635-4966-9373-071edf8f2236","sent_at":"2025-07-13T18:47:46+01:00","sdk":{"name":"lapsoss","version":"0.2.0"}}
        {"type":"event","content_type":"application/json"}
        {"platform":"ruby","level":"error","timestamp":1752428866.8660202,"environment":null,"release":null,"tags":{},"user":{},"extra":{},"breadcrumbs":{"values":[{"message":"User clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-07-13 17:47:46 UTC"},{"message":"API request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-07-13 17:47:46 UTC"},{"message":"API request failed","type":"error","metadata":{"status":500},"timestamp":"2025-07-13 17:47:46 UTC"}]},"exception":{"values":[{"type":"RuntimeError","value":"Error after breadcrumbs","stacktrace":{"frames":[]}}]}}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_client=lapsoss/0.3.1, sentry_key=<FILTERED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"327d80bbf63549669373071edf8f2236"}'
  recorded_at: Sun, 13 Jul 2025 17:47:49 GMT
- request:
    method: post
    uri: https://EXAMPLE_ORG_ID.ingest.us.sentry.io/api/EXAMPLE_PROJECT_ID/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"951cb6fc-1207-4497-9651-fe69c6e9f06e","sent_at":"2025-07-13T18:47:47+01:00","sdk":{"name":"lapsoss","version":"0.2.0"}}
        {"type":"event","content_type":"application/json"}
        {"platform":"ruby","level":"error","timestamp":1752428867.36818,"environment":null,"release":null,"tags":{"test":true,"environment":"test"},"user":{"id":123,"email":"<EMAIL>"},"extra":{"custom_data":"value"},"breadcrumbs":{"values":[]},"exception":{"values":[{"type":"StandardError","value":"Test error from Lapsoss","stacktrace":{"frames":[{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"function":"call_block","module":"VCR::VariableArgsBlockCaller","in_app":false},{"filename":"vcr.rb","lineno":194,"function":"use_cassette","module":"VCR","in_app":false},{"filename":"sentry_adapter_test.rb","lineno":12,"function":"block in <class:SentryAdapterTest>","in_app":true},{"filename":"active_support/executor/test_helper.rb","lineno":5,"function":"run","module":"block in ActiveSupport::Executor::TestHelper","in_app":false},{"filename":"active_support/execution_wrapper.rb","lineno":104,"function":"perform","module":"ActiveSupport::ExecutionWrapper","in_app":false},{"filename":"rails/test_unit/line_filtering.rb","lineno":10,"function":"run","module":"Rails::LineFiltering","in_app":false}]}}]}}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_client=lapsoss/0.3.1, sentry_key=<FILTERED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"951cb6fc120744979651fe69c6e9f06e"}'
  recorded_at: Sun, 13 Jul 2025 17:47:49 GMT
[...]
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1757362992,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-09-08T20:23:12.058Z"},{"message":"API
        request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-09-08T20:23:12.058Z"},{"message":"API
        request failed","type":"error","metadata":{"status":500},"timestamp":"2025-09-08T20:23:12.058Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Sep 2025 20:23:12 GMT
recorded_with: VCR 6.3.1
