---
http_interactions:
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"action":"log_message","path":"/","exception":{"name":"LogMessage","message":"Critical
        error from Lapsoss","backtrace":[]},"tags":{"source":"test"},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Sep 2025 15:01:58 GMT
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"action":"log_message","path":"/","exception":{"name":"LogMessage","message":"Critical
        error from Lapsoss","backtrace":[]},"tags":{"source":"test"},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Sep 2025 15:02:41 GMT
recorded_with: VCR 6.3.1
