---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.6","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[{"errorClass":"StandardError","message":"Error
        with metadata","stacktrace":[{"file":"vcr/util/variable_args_block_caller.rb","lineNumber":9,"method":"call_block","inProject":false,"code":{"9":"      block.call(*args)"}},{"file":"vcr.rb","lineNumber":194,"method":"use_cassette","inProject":false,"code":{"194":"      call_block(block,
        cassette)"}},{"file":"test/insight_hub_adapter_test.rb","lineNumber":55,"method":"block
        in \u003cclass:InsightHubAdapterTest\u003e","inProject":true,"code":{"55":"    VCR.use_cassette(\"insight_hub_with_metadata\")
        do"}}],"type":"ruby"}],"breadcrumbs":[],"user":{"id":"456","name":"Test User","email":"<EMAIL>"},"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c06bae0147f23e5c400000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 18:02:22 GMT
[...]
