---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.6","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[],"breadcrumbs":[],"context":"production","severity":"error","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c06bae0147c83ca86c0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 18:02:22 GMT
[...]
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.6","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[],"breadcrumbs":[],"context":"production","severity":"error","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c3ff0c01485a9a311e0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Fri, 12 Sep 2025 11:07:56 GMT
recorded_with: VCR 6.3.1
