---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5.0","notifier":{"name":"Lapsoss","version":"0.1.0","url":"https://github.com/seuros/lapsoss"},"events":[{"app":{"version":null,"releaseStage":null,"type":"ruby"},"device":{"hostname":"<HOSTNAME>","runtimeVersions":{"ruby":"3.4.4"}},"severity":"info","unhandled":false,"severityReason":{"type":"handledException"},"user":null,"context":null,"groupingHash":null,"breadcrumbs":[{"timestamp":"2025-07-07T02:20:27+01:00","name":"User
        clicked button","type":"user","metaData":{"button":"checkout"}}],"metaData":{},"exceptions":[{"errorClass":"RuntimeError","message":"Error
        after breadcrumbs","stacktrace":[],"type":"ruby"}]}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5.0'
      Bugsnag-Sent-At:
      - '2025-07-07T01:20:27Z'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 686b20db012cb34e298b0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Mon, 07 Jul 2025 01:20:27 GMT
[...]
- request:
    method: post
    uri: https://EXAMPLE_ORG_ID.ingest.us.sentry.io/api/EXAMPLE_PROJECT_ID/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"8792f4b8-c9f4-4d43-92d8-d37fb3d62224","sent_at":"2025-07-13T18:42:31+01:00","sdk":{"name":"lapsoss","version":"0.2.0"}}
        {"type":"event","content_type":"application/json"}
        {"platform":"ruby","level":"info","timestamp":1752428551.4180212,"environment":null,"release":null,"tags":{"source":"activesupport_test"},"user":{},"extra":{},"breadcrumbs":{"values":[]},"message":"Test message from Lapsoss"}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_client=lapsoss/0.4.3, sentry_key=<FILTERED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"8792f4b8c9f44d4392d8d37fb3d62224"}'
  recorded_at: Sun, 13 Jul 2025 17:42:32 GMT
- request:
    method: post
    uri: https://EXAMPLE_ORG_ID.ingest.us.sentry.io/api/EXAMPLE_PROJECT_ID/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"f510d131-a1aa-41cb-9ae2-577747b12600","sent_at":"2025-07-13T18:42:31+01:00","sdk":{"name":"lapsoss","version":"0.2.0"}}
        {"type":"event","content_type":"application/json"}
        {"platform":"ruby","level":"error","timestamp":1752428551.934689,"environment":null,"release":null,"tags":{"test":true,"environment":"test"},"user":{"id":123,"email":"<EMAIL>"},"extra":{"custom_data":"value"},"breadcrumbs":{"values":[]},"exception":{"values":[{"type":"StandardError","value":"Test error from Lapsoss","stacktrace":{"frames":[{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"function":"call_block","module":"VCR::VariableArgsBlockCaller","in_app":false},{"filename":"vcr.rb","lineno":194,"function":"use_cassette","module":"VCR","in_app":false},{"filename":"sentry_adapter_test.rb","lineno":12,"function":"block in <class:SentryAdapterTest>","in_app":true},{"filename":"active_support/executor/test_helper.rb","lineno":5,"function":"run","module":"block in ActiveSupport::Executor::TestHelper","in_app":false},{"filename":"active_support/execution_wrapper.rb","lineno":104,"function":"perform","module":"ActiveSupport::ExecutionWrapper","in_app":false},{"filename":"rails/test_unit/line_filtering.rb","lineno":10,"function":"run","module":"Rails::LineFiltering","in_app":false}]}}]}}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_client=lapsoss/0.4.3, sentry_key=<FILTERED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"f510d131a1aa41cb9ae2577747b12600"}'
  recorded_at: Sun, 13 Jul 2025 17:42:33 GMT
[...]
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.2.0","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.4"}},"exceptions":[{"errorClass":"RuntimeError","message":"Error
        after breadcrumbs","stacktrace":[],"type":"ruby"}],"breadcrumbs":[{"timestamp":"2025-07-13T20:11:59+01:00","name":"User
        clicked button","type":"user","metaData":{"button":"checkout"}}],"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 6874050001345e3d85cb0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Sun, 13 Jul 2025 19:12:00 GMT
[...]
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.3","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[{"errorClass":"RuntimeError","message":"Error
        after breadcrumbs","stacktrace":[],"type":"ruby"}],"breadcrumbs":[{"timestamp":"2025-09-09T11:15:56Z","name":"User
        clicked button","type":"user","metaData":{"button":"checkout"}}],"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c00c6c0147b8ded91c0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 11:15:56 GMT
recorded_with: VCR 6.3.1
