---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.5","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[{"errorClass":"StandardError","message":"Test
        error from Lapsoss","stacktrace":[{"file":"vcr/util/variable_args_block_caller.rb","lineNumber":9,"method":"call_block","inProject":false,"code":{"9":"      block.call(*args)"}},{"file":"vcr.rb","lineNumber":194,"method":"use_cassette","inProject":false,"code":{"194":"      call_block(block,
        cassette)"}},{"file":"insight_hub_adapter_test.rb","lineNumber":11,"method":"block
        in \u003cclass:InsightHubAdapterTest\u003e","inProject":true,"code":{"11":"    VCR.use_cassette(\"insight_hub_capture_exception\")
        do"}},{"file":"active_support/executor/test_helper.rb","lineNumber":5,"method":"run","inProject":false,"code":{"5":"    Rails.application.executor.perform
        { super }"}},{"file":"active_support/execution_wrapper.rb","lineNumber":104,"method":"perform","inProject":false},{"file":"rails/test_unit/line_filtering.rb","lineNumber":10,"method":"run","inProject":false}],"type":"ruby"}],"breadcrumbs":[],"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c041660147c78205680000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 15:01:58 GMT
[...]
