---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.5","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[{"errorClass":"RuntimeError","message":"Error
        after breadcrumbs","stacktrace":[],"type":"ruby"}],"breadcrumbs":[{"timestamp":"2025-09-09T15:01:57Z","name":"User
        clicked button","type":"user","metaData":{"button":"checkout"}}],"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c041650147be9735430000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 15:01:57 GMT
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.4.5","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.5"}},"exceptions":[{"errorClass":"RuntimeError","message":"Error
        after breadcrumbs","stacktrace":[],"type":"ruby"}],"breadcrumbs":[{"timestamp":"2025-09-09T15:02:46Z","name":"User
        clicked button","type":"user","metaData":{"button":"checkout"}}],"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 68c041960147d374ce950000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Sep 2025 15:02:46 GMT
recorded_with: VCR 6.3.1
