---
http_interactions:
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5.0","notifier":{"name":"Lapsoss","version":"0.1.0","url":"https://github.com/seuros/lapsoss"},"events":[{"app":{"version":null,"releaseStage":null,"type":"ruby"},"device":{"hostname":"<HOSTNAME>","runtimeVersions":{"ruby":"3.4.4"}},"severity":"info","unhandled":false,"severityReason":{"type":"handledException"},"user":{"id":"456","name":"Test
        User","email":"<EMAIL>"},"context":null,"groupingHash":null,"breadcrumbs":[],"metaData":{"feature_flags":["new_ui","beta_feature"],"session_id":"abc123"},"exceptions":[{"errorClass":"StandardError","message":"Error
        with metadata","stacktrace":[],"type":"ruby"}]}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5.0'
      Bugsnag-Sent-At:
      - '2025-07-07T01:20:27Z'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 686b20db012cbd55b0170000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Mon, 07 Jul 2025 01:20:27 GMT
[...]
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5.0","notifier":{"name":"Lapsoss","version":"0.1.0","url":"https://github.com/seuros/lapsoss"},"events":[{"app":{"version":null,"releaseStage":null,"type":"ruby"},"device":{"hostname":"<HOSTNAME>","runtimeVersions":{"ruby":"3.4.4"}},"severity":"info","unhandled":false,"severityReason":{"type":"handledException"},"user":{"id":"456","name":"Test
        User","email":"<EMAIL>"},"context":null,"groupingHash":null,"breadcrumbs":[],"metaData":{"feature_flags":["new_ui","beta_feature"],"session_id":"abc123"},"exceptions":[{"errorClass":"StandardError","message":"Error
        with metadata","stacktrace":[{"file":"test_insight_hub_adapter.rb","lineNumber":56,"method":"''block
        in <class:TestInsightHubAdapter>''","inProject":true},{"file":"vcr/util/variable_args_block_caller.rb","lineNumber":9,"method":"call_block''","inProject":false},{"file":"vcr.rb","lineNumber":194,"method":"use_cassette''","inProject":false}],"type":"ruby"}]}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5.0'
      Bugsnag-Sent-At:
      - '2025-07-08T15:18:39Z'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 686d36cf013468fbe5d50000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 08 Jul 2025 15:18:39 GMT
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5.0","notifier":{"name":"Lapsoss","version":"0.1.0","url":"https://github.com/seuros/lapsoss"},"events":[{"app":{"version":null,"releaseStage":null,"type":"ruby"},"device":{"hostname":"<HOSTNAME>","runtimeVersions":{"ruby":"3.4.4"}},"severity":"info","unhandled":false,"severityReason":{"type":"handledException"},"user":{"id":"456","name":"Test
        User","email":"<EMAIL>"},"context":null,"groupingHash":null,"breadcrumbs":[],"metaData":{"feature_flags":["new_ui","beta_feature"],"session_id":"abc123"},"exceptions":[{"errorClass":"StandardError","message":"Error
        with metadata","stacktrace":[{"file":"vcr/util/variable_args_block_caller.rb","lineNumber":9,"method":"call_block","inProject":false},{"file":"vcr.rb","lineNumber":194,"method":"use_cassette","inProject":false},{"file":"insight_hub_adapter_test.rb","lineNumber":56,"method":"block
        in <class:InsightHubAdapterTest>","inProject":true}],"type":"ruby"}]}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5.0'
      Bugsnag-Sent-At:
      - '2025-07-09T15:26:08Z'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 686e8a110134e95c213d0000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 09 Jul 2025 15:26:09 GMT
[...]
- request:
    method: post
    uri: https://notify.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"apiKey":"<INSIGHT_HUB_API_KEY>","payloadVersion":"5","notifier":{"name":"Lapsoss
        Ruby","version":"0.2.0","url":"https://github.com/yourusername/lapsoss"},"events":[{"app":{"releaseStage":"production","type":"rails"},"device":{"hostname":"<HOSTNAME>","osName":"arm64-darwin24","runtimeVersions":{"ruby":"3.4.4"}},"exceptions":[{"errorClass":"StandardError","message":"Error
        with metadata","stacktrace":[{"file":"vcr/util/variable_args_block_caller.rb","lineNumber":9,"method":"call_block","inProject":false},{"file":"vcr.rb","lineNumber":194,"method":"use_cassette","inProject":false},{"file":"insight_hub_adapter_test.rb","lineNumber":55,"method":"block
        in \u003cclass:InsightHubAdapterTest\u003e","inProject":true},{"file":"active_support/executor/test_helper.rb","lineNumber":5,"method":"run","inProject":false},{"file":"active_support/execution_wrapper.rb","lineNumber":104,"method":"perform","inProject":false},{"file":"rails/test_unit/line_filtering.rb","lineNumber":10,"method":"run","inProject":false}],"type":"ruby"}],"breadcrumbs":[],"user":{"id":"456","name":"Test
        User","email":"<EMAIL>"},"context":"production","severity":"info","unhandled":false,"metaData":{}}]}'
    headers:
      Content-Type:
      - application/json
      Bugsnag-Api-Key:
      - "<BUGSNAG_API_KEY>"
      Bugsnag-Payload-Version:
      - '5'
  response:
    status:
      code: 200
      message: OK
    headers:
      Bugsnag-Event-Id:
      - 6874050001367e1fb2790000
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Sun, 13 Jul 2025 19:11:59 GMT
[...]
