---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Test
        error from Lapsoss","description":"Test error from Lapsoss"}}},"level":"info","timestamp":1751869084,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{},"title":"Test
        error from Lapsoss","uuid":"a8785838-5d73-4616-aa55-878ea0adb22f","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34-q2H4gvxY9rJaKikg7rdTPg"
      X-Response-Time:
      - 0.754ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "access token required"
        }
  recorded_at: Mon, 07 Jul 2025 06:18:05 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Test
        error from Lapsoss","description":"Test error from Lapsoss"}}},"level":"info","timestamp":1751870861,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{},"title":"Test
        error from Lapsoss","uuid":"1c0552c5-05a1-4342-a6b2-d49c704a22f1","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '50000'
      X-Rate-Limit-Remaining:
      - '49995'
      X-Rate-Limit-Remaining-Seconds:
      - '19'
      X-Rate-Limit-Reset:
      - '1751870880'
      Etag:
      - W/"64-4HDSB8l/axM6ZhUFdLYFUw"
      X-Response-Time:
      - 15.987ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": null,
            "uuid": "1c0552c5-05a1-4342-a6b2-d49c704a22f1"
          }
        }
  recorded_at: Mon, 07 Jul 2025 06:47:41 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"vcr.rb","lineno":194,"method":"use_cassette''"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block''"},{"filename":"test/test_rollbar_adapter.rb","lineno":11,"method":"''block
        in <class:TestRollbarAdapter>''","code":"    VCR.use_cassette(\"rollbar_capture_exception\")
        do"}],"exception":{"class":"StandardError","message":"Test error from Lapsoss","description":"Test
        error from Lapsoss"}}},"level":"info","timestamp":1752006802,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{},"title":"Test
        error from Lapsoss","uuid":"d026312e-1563-4f3a-88ad-ff16c2ac0f23","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 14.038ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 08 Jul 2025 20:33:23 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rollbar_adapter_test.rb","lineno":11,"method":"block
        in <class:RollbarAdapterTest>"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Test
        error from Lapsoss","description":"Test error from Lapsoss"}}},"level":"info","timestamp":1752074769,"platform":"ruby","language":"ruby","framework":"ruby","context":null,"request":null,"person":null,"custom":{},"title":"Test
        error from Lapsoss","uuid":"90f340c9-ea7c-4123-aa6e-3372ffcf602f","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 4.129ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Wed, 09 Jul 2025 15:26:09 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rails/test_unit/line_filtering.rb","lineno":10,"method":"run"},{"filename":"active_support/execution_wrapper.rb","lineno":104,"method":"perform"},{"filename":"active_support/executor/test_helper.rb","lineno":5,"method":"run"},{"filename":"rollbar_adapter_test.rb","lineno":11,"method":"block
        in \u003cclass:RollbarAdapterTest\u003e"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Test
        error from Lapsoss","description":"Test error from Lapsoss"}}},"level":"info","timestamp":1752433924,"code_version":null,"platform":"ruby","language":"ruby","framework":"rails","server":{"host":"EXAMPLE_MACHINE","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"EXAMPLE_COMMIT_HASH_1234567890abcdef"},"person":null,"request":null,"custom":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 2.506ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Sun, 13 Jul 2025 19:12:04 GMT
[...]
