---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Error
        with user context","description":"Error with user context"}}},"level":"info","timestamp":1751869084,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":{"id":"123","username":"testuser","email":"<EMAIL>"},"custom":{},"title":"Error
        with user context","uuid":"63a57a6d-5685-42fc-946c-9bb887f6f01c","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34-q2H4gvxY9rJaKikg7rdTPg"
      X-Response-Time:
      - 0.823ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "access token required"
        }
  recorded_at: Mon, 07 Jul 2025 06:18:04 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Error
        with user context","description":"Error with user context"}}},"level":"info","timestamp":1751870860,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":{"id":"123","username":"testuser","email":"<EMAIL>"},"custom":{},"title":"Error
        with user context","uuid":"b7e71f01-0ddb-43f7-84d9-d7bec1a22adf","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '50000'
      X-Rate-Limit-Remaining:
      - '49997'
      X-Rate-Limit-Remaining-Seconds:
      - '19'
      X-Rate-Limit-Reset:
      - '1751870880'
      Etag:
      - W/"64-LTDE5ZUVSD+BDq7pBpMs+g"
      X-Response-Time:
      - 18.818ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": null,
            "uuid": "b7e71f01-0ddb-43f7-84d9-d7bec1a22adf"
          }
        }
  recorded_at: Mon, 07 Jul 2025 06:47:41 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"vcr.rb","lineno":194,"method":"use_cassette''"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block''"},{"filename":"test/test_rollbar_adapter.rb","lineno":32,"method":"''block
        in <class:TestRollbarAdapter>''","code":"    VCR.use_cassette(\"rollbar_with_user\")
        do"}],"exception":{"class":"StandardError","message":"Error with user context","description":"Error
        with user context"}}},"level":"info","timestamp":1752006803,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":{"id":"123","username":"testuser","email":"<EMAIL>"},"custom":{},"title":"Error
        with user context","uuid":"57bafcfb-675a-4688-8a8a-d0a3eade9a01","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 4.232ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 08 Jul 2025 20:33:23 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rollbar_adapter_test.rb","lineno":46,"method":"block
        in <class:RollbarAdapterTest>"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Error
        with user context","description":"Error with user context"}}},"level":"info","timestamp":1752074769,"platform":"ruby","language":"ruby","framework":"ruby","context":null,"request":null,"person":{"id":"123","username":"testuser","email":"<EMAIL>"},"custom":{},"title":"Error
        with user context","uuid":"b58fd19a-0cc7-4341-bb76-dfaf7193061a","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 5.637ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Wed, 09 Jul 2025 15:26:10 GMT
[...]
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1752433922,"namespace":"backend","error":{"name":"StandardError","message":"Test
        error from Lapsoss","backtrace":["/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr/util/variable_args_block_caller.rb:9:in
        ''VCR::VariableArgsBlockCaller#call_block''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr.rb:194:in
        ''VCR#use_cassette''","/path/to/project/lapsoss/test/appsignal_adapter_test.rb:12:in
        ''block in <class:AppsignalAdapterTest>''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:94:in
        ''block (2 levels) in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:190:in
        ''Minitest::Test#capture_exceptions''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:89:in
        ''block in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb:368:in
        ''Minitest::Runnabl[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rails/test_unit/line_filtering.rb","lineno":10,"method":"run"},{"filename":"active_support/execution_wrapper.rb","lineno":104,"method":"perform"},{"filename":"active_support/executor/test_helper.rb","lineno":5,"method":"run"},{"filename":"rollbar_adapter_test.rb","lineno":46,"method":"block
        in \u003cclass:RollbarAdapterTest\u003e"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Error
        with user context","description":"Error with user context"}}},"level":"info","timestamp":1752433922,"code_version":null,"platform":"ruby","language":"ruby","framework":"rails","server":{"host":"EXAMPLE_MACHINE","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"EXAMPLE_COMMIT_HASH_1234567890abcdef"},"person":{"id":"123","username":"testuser","email":"<EMAIL>"},"request":null,"custom":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 2.715ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Sun, 13 Jul 2025 19:12:03 GMT
[...]
