---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"production","body":{"message":{"body":"Critical
        error from Lapsoss"}},"level":"error","timestamp":1757430116,"code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7","platform":"ruby","language":"ruby","framework":"rails","server":{"host":"Periscope.local","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7"}}}'
    headers:
      Content-Type:
      - application/json
      X-Lapsoss-Version:
      - "<VERSION>"
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 1.459ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 09 Sep 2025 15:01:56 GMT
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"production","body":{"message":{"body":"Critical
        error from Lapsoss"}},"level":"error","timestamp":1757430162,"code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7","platform":"ruby","language":"ruby","framework":"rails","server":{"host":"Periscope.local","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7"}}}'
    headers:
      Content-Type:
      - application/json
      X-Lapsoss-Version:
      - "<VERSION>"
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 5.268ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 09 Sep 2025 15:02:42 GMT
recorded_with: VCR 6.3.1
