---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Error
        with custom data","description":"Error with custom data"}}},"level":"info","timestamp":1751869085,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{"order_id":"12345","feature_flag":"new_checkout"},"title":"Error
        with custom data","uuid":"68b5b007-1320-497d-a3ce-9224b3b7b0bb","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34-q2H4gvxY9rJaKikg7rdTPg"
      X-Response-Time:
      - 0.835ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "access token required"
        }
  recorded_at: Mon, 07 Jul 2025 06:18:05 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[],"exception":{"class":"StandardError","message":"Error
        with custom data","description":"Error with custom data"}}},"level":"info","timestamp":1751870860,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{"order_id":"12345","feature_flag":"new_checkout"},"title":"Error
        with custom data","uuid":"48543cbe-8652-49c5-987b-3ebf7999d76b","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '50000'
      X-Rate-Limit-Remaining:
      - '49998'
      X-Rate-Limit-Remaining-Seconds:
      - '20'
      X-Rate-Limit-Reset:
      - '1751870880'
      Etag:
      - W/"64-h81jwYjAosGHY4kzFa2szw"
      X-Response-Time:
      - 18.461ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 0,
          "result": {
            "id": null,
            "uuid": "48543cbe-8652-49c5-987b-3ebf7999d76b"
          }
        }
  recorded_at: Mon, 07 Jul 2025 06:47:40 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"vcr.rb","lineno":194,"method":"use_cassette''"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block''"},{"filename":"test/test_rollbar_adapter.rb","lineno":49,"method":"''block
        in <class:TestRollbarAdapter>''","code":"    VCR.use_cassette(\"rollbar_with_custom_data\")
        do"}],"exception":{"class":"StandardError","message":"Error with custom data","description":"Error
        with custom data"}}},"level":"info","timestamp":1752006803,"platform":"ruby","language":"ruby","framework":"rails","context":null,"request":null,"person":null,"custom":{"order_id":"12345","feature_flag":"new_checkout"},"title":"Error
        with custom data","uuid":"3d93f52f-70cc-4d34-8643-d155d8e3ca1e","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 5.546ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 08 Jul 2025 20:33:23 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rollbar_adapter_test.rb","lineno":69,"method":"block
        in <class:RollbarAdapterTest>"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Error
        with custom data","description":"Error with custom data"}}},"level":"info","timestamp":1752074769,"platform":"ruby","language":"ruby","framework":"ruby","context":null,"request":null,"person":null,"custom":{"order_id":"12345","feature_flag":"new_checkout"},"title":"Error
        with custom data","uuid":"cd4b7715-7cc7-41e7-82f5-af751dfdccbb","notifier":{"name":"lapsoss","version":"0.1.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 2.249ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Wed, 09 Jul 2025 15:26:09 GMT
[...]
- request:
    method: post
    uri: https://EXAMPLE_ORG_ID.ingest.us.sentry.io/api/EXAMPLE_PROJECT_ID/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"c2a38404-3bed-4099-9087-8937bfd4986e","sent_at":"2025-07-13T18:47:48+01:00","sdk":{"name":"lapsoss","version":"0.2.0"}}
        {"type":"event","content_type":"application/json"}
        {"platform":"ruby","level":"info","timestamp":1752428868.374381,"environment":null,"release":null,"tags":{"source":"activesupport_test"},"user":{},"extra":{},"breadcrumbs":{"values":[]},"message":"Test message from Lapsoss"}
    headers:
      Content-Type:
      - application/x-sentry-envelope
      X-Sentry-Auth:
      - Sentry sentry_version=7, sentry_client=lapsoss/<VERSION>, sentry_key=<FILTERED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"c2a384043bed409990878937bfd4986e"}'
  recorded_at: Sun, 13 Jul 2025 17:47:52 GMT
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1752428869,"namespace":"backend","error":{"name":"RuntimeError","message":"Error
        after breadcrumbs","backtrace":[]},"tags":{},"params":{},"environment":{"hostname":"<HOSTNAME>","app_name":"lapsoss-test","environment":null},"breadcrumbs":[{"message":"User
        clicked button","type":"navigation","metadata":{"button":"submit"},"timestamp":"2025-07-13
        17:47:49 UTC"},{"message":"API request started","type":"http","metadata":{"url":"/api/test"},"timestamp":"2025-07-13
        17:47:49 UTC"},{"message":"API request failed","type":"error","metadata":{"status":500},"timestamp":"2025-07-13
        17:47:49 UTC"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Appsignal-Max-Body:
      - 500k
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Jul 2025 17:47:53 GMT
- request:
    method: post
    uri: https://appsignal-endpoint.net/errors?api_key=<APPSIGNAL_FRONTEND_API_KEY>
    body:
      encoding: UTF-8
      string: '{"timestamp":1752428870,"namespace":"backend","error":{"name":"StandardError","message":"Test
        error from Lapsoss","backtrace":["/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr/util/variable_args_block_caller.rb:9:in
        ''VCR::VariableArgsBlockCaller#call_block''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/vcr-6.3.1/lib/vcr.rb:194:in
        ''VCR#use_cassette''","/path/to/project/lapsoss/test/appsignal_adapter_test.rb:12:in
        ''block in <class:AppsignalAdapterTest>''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:94:in
        ''block (2 levels) in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:190:in
        ''Minitest::Test#capture_exceptions''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb:89:in
        ''block in Minitest::Test#run''","/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb:368:in
        ''Minitest::Runnabl[...]
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"development","body":{"trace":{"frames":[{"filename":"rails/test_unit/line_filtering.rb","lineno":10,"method":"run"},{"filename":"active_support/execution_wrapper.rb","lineno":104,"method":"perform"},{"filename":"active_support/executor/test_helper.rb","lineno":5,"method":"run"},{"filename":"rollbar_adapter_test.rb","lineno":68,"method":"block
        in \u003cclass:RollbarAdapterTest\u003e"},{"filename":"vcr.rb","lineno":194,"method":"use_cassette"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"call_block"}],"exception":{"class":"StandardError","message":"Error
        with custom data","description":"Error with custom data"}}},"level":"info","timestamp":1752433923,"code_version":null,"platform":"ruby","language":"ruby","framework":"rails","server":{"host":"EXAMPLE_MACHINE","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"EXAMPLE_COMMIT_HASH_1234567890abcdef"},"person":null,"request":null,"custom":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 2.752ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Sun, 13 Jul 2025 19:12:03 GMT
[...]
