---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"production","body":{"message":{"body":"Critical
        error from Lapsoss"}},"level":"error","timestamp":1757440962,"code_version":"cfe509d1e76af8297aa501fceaeb18f378763cdc","platform":"ruby","language":"ruby","framework":"rails","server":{"host":"Periscope.local","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"cfe509d1e76af8297aa501fceaeb18f378763cdc"}}}'
    headers:
      Content-Type:
      - application/json
      X-Lapsoss-Version:
      - "<VERSION>"
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 4.783ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 09 Sep 2025 18:02:42 GMT
[...]
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"production","body":{"message":{"body":"Critical
        error from Lapsoss"}},"level":"error","timestamp":1757686406,"code_version":"8b31ddfc381a6a17a3af82fe57dc80a14cc748a0","platform":"ruby","language":"ruby","framework":"rails","server":{"host":"Periscope.local","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"8b31ddfc381a6a17a3af82fe57dc80a14cc748a0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Lapsoss-Version:
      - "<VERSION>"
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 4.100ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Fri, 12 Sep 2025 14:13:26 GMT
recorded_with: VCR 6.3.1
