---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"environment":"production","body":{"trace":{"frames":[{"filename":"active_support/execution_wrapper.rb","lineno":104,"method":"ActiveSupport::ExecutionWrapper.perform"},{"filename":"active_support/executor/test_helper.rb","lineno":5,"method":"block
        in ActiveSupport::Executor::TestHelper#run"},{"filename":"minitest/test.rb","lineno":88,"method":"Minitest::Test#run"},{"filename":"minitest.rb","lineno":368,"method":"Minitest::Runnable#time_it"},{"filename":"minitest/test.rb","lineno":89,"method":"block
        in Minitest::Test#run"},{"filename":"minitest/test.rb","lineno":190,"method":"Minitest::Test#capture_exceptions"},{"filename":"minitest/test.rb","lineno":94,"method":"block
        (2 levels) in Minitest::Test#run","code":"          self.send self.name"},{"filename":"rollbar_adapter_test.rb","lineno":68,"method":"block
        in \u003cclass:RollbarAdapterTest\u003e","code":"    VCR.use_cassette(\"rollbar_with_custom_data\")
        do"},{"filename":"vcr.rb","lineno":194,"method":"VCR#use_cassette","code":"      call_block(block,
        cassette)"},{"filename":"vcr/util/variable_args_block_caller.rb","lineno":9,"method":"VCR::VariableArgsBlockCaller#call_block","code":"      block.call(*args)"}],"exception":{"class":"StandardError","message":"Error
        with custom data","description":"Error with custom data"}}},"level":"info","timestamp":1757430115,"code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7","platform":"ruby","language":"ruby","framework":"rails","server":{"host":"Periscope.local","root":"/path/to/project/lapsoss/test/dummy","branch":"master","code_version":"2a2e7750b3507c119fbc41dc5109c88ef0d7aee7"},"custom":{"order_id":"12345","feature_flag":"new_checkout"}}}'
    headers:
      Content-Type:
      - application/json
      X-Lapsoss-Version:
      - "<VERSION>"
      X-Rollbar-Access-Token:
      - "<ROLLBAR_ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-B1+irAWVS0vJXv2TX/BEXA"
      X-Response-Time:
      - 4.105ms
    body:
      encoding: UTF-8
      string: |-
        {
          "err": 1,
          "message": "invalid access token"
        }
  recorded_at: Tue, 09 Sep 2025 15:01:55 GMT
[...]
