---
http_interactions:
- request:
    method: post
    uri: https://lapsoss.telebugs.com/api/v1/sentry_errors/api/<PROJECT_ID>/envelope/
    body:
      encoding: UTF-8
      string: |-
        {"event_id":"58734170-2659-482d-9076-1d2f2f38f31b","sent_at":"2025-09-09T18:01:40Z","sdk":{"name":"lapsoss","version":"0.4.6","packages":[{"name":"lapsoss-ruby","version":"0.4.6"}]}}
        {"type":"event","content_type":"application/json"}
        {"event_id":"6f2a421e-bdc8-46dc-afa6-e983a663b693","timestamp":"2025-09-09T18:01:40Z","platform":"ruby","level":"error","environment":"production","release":"cfe509d1e76af8297aa501fceaeb18f378763cdc","server_name":"Periscope.local","contexts":{"os":{"name":"darwin24","version":"24.6.0","build":"Darwin Kernel Version 24.6.0: Mon Jul 14 11:30:29 PDT 2025; root:xnu-11417.140.69~1/RELEASE_ARM64_T6000","kernel_version":"Darwin Periscope.local 24.6.0 Darwin Kernel Version 24.6.0: Mon Jul 14 11:30:29 PDT 2025; root:xnu-11417.140.69~1/RELEASE_ARM64_T6000 arm64","machine":"arm64"},"runtime":{"name":"ruby","version":"ruby 3.4.5 (2025-07-16 revision 20cda200d3) +PRISM [arm64-darwin24]"}},"tags":{"has_context":true},"extra":{"test_type":"code_context"},"sdk":{"name":"lapsoss.ruby","version":"0.4.6"},"exception":{"values":[{"type":"ArgumentError","value":"Test error with code context for Telebugs","module":null,"thread_id":568,"stacktrace":{"frames":[{"filename":"minitest.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb","function":"block (2 levels) in Minitest::Runnable.run","lineno":434,"in_app":false},{"filename":"minitest.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb","function":"Minitest::Runnable.run_one_method","lineno":447,"in_app":false},{"filename":"minitest.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb","function":"Minitest.run_one_method","lineno":1208,"in_app":false},{"filename":"minitest/test.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb","function":"Minitest::Test#run","lineno":88,"in_app":false},{"filename":"minitest.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest.rb","function":"Minitest::Runnable#time_it","lineno":368,"in_app":false},{"filename":"minitest/test.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb","function":"block in Minitest::Test#run","lineno":89,"in_app":false},{"filename":"minitest/test.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb","function":"Minitest::Test#capture_exceptions","lineno":190,"in_app":false},{"filename":"minitest/test.rb","abs_path":"/path/to/ruby/lib/ruby/gems/3.4.0/gems/minitest-5.25.5/lib/minitest/test.rb","function":"block (2 levels) in Minitest::Test#run","lineno":94,"in_app":false,"pre_context":["            self.send hook","          end",""],"context_line":"          self.send self.name","post_context":["        end","","        TEARDOWN_METHODS.each do |hook|"]},{"filename":"test/telebugs_adapter_test.rb","abs_path":"test/telebugs_adapter_test.rb","function":"block in \u003cclass:TelebugsAdapterTest\u003e","lineno":119,"in_app":true,"pre_context":["  end","","  test \"captures exception with code context to Telebugs\" do"],"context_line":"    VCR.use_cassette(\"telebugs_with_code_context\") do","post_context":["      Lapsoss.configure do |config|","        config.use_telebugs(name: :telebugs_[...]
